.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  .divider {
    display: inline;
    padding: 0 5px;
    color: #9a9b9f;
  }
}

.content {
  margin-bottom: 20px;
  padding: 20px 25px 5px;
  background-color: #fff;

  :global {
    .ant-table thead > tr > th {
      background-color: #fff;
    }
  }
}
