.userList {
  padding: 20px;
  background-color: #fff;

  .form {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .rightActions {
      display: flex;

      .searchInput {
        margin-left: 20px;
        width: 250px;
      }
    }
  }

  .content {
    margin-top: 15px;

    .userAvatar {
      margin-right: 8px;
    }

    .link {
      margin-right: 10px;
      padding: 0;
    }
  }
}
