.header {
  padding: 0 24px;
  background: #fff;

  .trigger {
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .userInfo {
    float: right;
    display: flex;
    align-items: center;
    height: 100%;

    .userName {
      margin-left: 6px;
      cursor: default;
    }

    .down {
      margin-left: 4px;
      padding: 15px 0;
      cursor: pointer;
      font-size: 20px;
    }

    .down:hover {
      color: #1890ff;
    }
  }
}

.menuIcon {
  font-size: 14px !important;
}
