.loadMore {
  margin-top: 12.5px;
  height: 32px;
  line-height: 32px;
  text-align: center;

  .button {
    .down {
      vertical-align: middle;
      font-size: 20px;
    }
    span {
      margin-left: 4px;
    }
  }
}
