.dynamicList {
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .content {
    margin-bottom: 20px;
    padding: 10px 25px 5px;
    background-color: #fff;
  }

  .dynamicTitle {
    display: flex;
    justify-content: space-between;
  }
}
