.myAppList {
  :global {
    .ant-list-item {
      padding: 10.4px 0;
    }
  }

  .addButton {
    padding: 0;
  }

  .iteration {
    font-size: 12px;

    .rightIcon {
      padding: 0;
      margin-left: 2px;
      font-size: 10px;
    }
  }
}
